<div class="row align-items-center justify-content-center all-screen">
    <div class="col-lg-2 col-md-4 cos-sm-6 col-10">
        <button (click)="add()">Add</button>
        <h5>Lista zespołów:</h5>

        <ul>
            <li *ngFor="let team of teamList">
                <a href="url">{{team.teamName}}</a>
            </li>
        </ul>


</div>
</div>