<div class="row align-items-center justify-content-center all-screen">
    <div class="col-lg-2 col-md-4 cos-sm-6 col-10">
        <h5>Zaloguj się</h5>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="email">Email:</label>
                <input name="email" type="text" class="form-control form-control-sm" id="email"
                    placeholder="Email" [(ngModel)]="user.email" required>
            </div>
            <div class="form-group row">
                <label for="password">Hasło:</label>
                <input name="password" type="password" class="form-control form-control-sm" id="password"
                    placeholder="Hasło" [(ngModel)]="user.password" required>
            </div>
            <div class="form-group row">
                <button class="btn btn-success btn-sm" type="submit">Zaloguj się</button>
            </div>
        </form>
    </div>
</div>