
    <div class="col-sm-12">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="sprintName">Nazwa:</label>
                <input name="sprintName" type="text" class="form-control form-control-sm" id="sprintName"
                    placeholder="Nazwa" [(ngModel)]="sprint.sprintName" required>
            </div>
            <div class="form-group row">
                <label for="goal">Goal:</label>
                <input name="goal" type="text" class="form-control form-control-sm" id="goal"
                    placeholder="Goal" [(ngModel)]="sprint.goal" required>
            </div>
            <div class="form-group row">
                <label for="startDate">Data rozpoczęcia:</label>
                <input name="startDate" type="date" class="form-control form-control-sm" id="startDate"
                    placeholder="Data rozpoczęcia" [(ngModel)]="sprint.startDate" required>
            </div>
            <div class="form-group row">
                <label for="endDate">Data zakończenia:</label>
                <input name="endDate" type="date" class="form-control form-control-sm" id="endDate"
                    placeholder="Data zakończenia" [(ngModel)]="sprint.endDate" required>
            </div>
            <div class="form-group row">
                <button class="btn btn-success btn-sm" type="submit">Zapisz</button>
            </div>
        </form>
    </div>